In [1]:
import numpy as np
import math

In [2]:
def simple_gradient_descent(x,y, learning_rate=0.1):
    slope = intercept = 0
    n = len(x)
    cost =10
    old_cost = iter = 0
    while not math.isclose(cost, old_cost, rel_tol=1e-20):
        y_pred = slope * x + intercept
        old_cost = cost
        cost = (1/n)* sum([val**2 for val in (y-y_pred)])
        if cost > old_cost:
            learning_rate = learning_rate/2
        d_slope = -(0.5/n)*sum(x*(y-y_pred))
        d_intercept = -(0.5/n)*sum(y-y_pred)
        slope -= learning_rate*d_slope
        intercept -= learning_rate* d_intercept
        iter += 1
        if iter > 500000:
            break
    print('Iteration: {} Cost: {} Slope: {} Intercept: {} Learn: {}'.format(iter, cost, slope, intercept, learning_rate))
    return slope, intercept

In [3]:
import random
x = np.array(random.sample(range(100), 5))
y = np.array(6*x + 4)
print(x,y)

[95 91  6 10 88] [574 550  40  64 532]

In [4]:
%%time
simple_gradient_descent(x,y)

Iteration: 184276 Cost: 8.551780772121461e-21 Slope: 6.000000000001847 Intercept: 3.999999999839561 Learn: 0.0001953125
CPU times: user 3.32 s, sys: 61.3 ms, total: 3.38 s
Wall time: 3.63 s

(6.000000000001847, 3.999999999839561)

In [5]:
import wget
import os
import pandas as pd
file = 'testscore.csv'
if os.path.isfile(file):
    print('file exists')
else:
    wget.download('https://raw.githubusercontent.com/codebasics/py/master/ML/3_gradient_descent/Exercise/test_scores.csv', file)

file exists

In [6]:
df = pd.read_csv(file)
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [7]:
x = df['math'].to_numpy()
y = df['cs'].to_numpy()
print(x,y)

[92 56 88 70 80 49 65 35 66 67] [98 68 81 80 83 52 66 30 68 73]

In [8]:
%%time
simple_gradient_descent(x,y)

Iteration: 419538 Cost: 31.60451133492944 Slope: 1.0177384413486048 Intercept: 1.9150631554217583 Learn: 0.0001953125
CPU times: user 11.1 s, sys: 187 ms, total: 11.2 s
Wall time: 13.4 s

(1.0177384413486048, 1.9150631554217583)

In [9]:
from sklearn import linear_model
lreg = linear_model.LinearRegression()
x = x.reshape(-1, 1)
lreg.fit(x,y)
print(lreg.coef_, lreg.intercept_)

[1.01773624] 1.9152193111569176